.buy {
    padding: 100px 0;
    background: #252B42;
    text-align: center;
    &-subheader {
        @include primary-subheader;
    }
    &-header {
        @include secondary-header;
        margin: 17px 0 27px;
    }
    &-descr {
        @include primary-text;
    }
    &-buttons {
        margin-top: 90px;
        button{
            @include primary-button__small;
        }
        #buy-button__first {
            padding: 18px 31px;
            margin-right: 16px;
        }
        #buy-button__second {
            padding: 18px 45px;
        }
    }
}
@media (max-width: 768px) {
    .buy {
        &-buttons {
            margin-top: 69px;
        }
    }
}
@media (max-width: 576px) {
    .buy {
        background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
    }
}